/* src/Sidebar/styles.css */

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #f9f9f9;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: width 0.3s;
  }
  
  .sidebar.collapsed {
    width: 80px;
  }
  
  .sidebar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    color: #5650ff;
    margin-left: 5px;
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: #5650ff;
    cursor: pointer;
    padding: 1px; /* Adjusted padding to be more compact */
    margin-left: 2px; /* Reduced margin */
    height: 24px; /* Set height */
    width: 20px; /* Set width */
    display: flex; /* Align items in the center */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }

  .toggle-button .fas {
    font-size: 14px; /* Set icon size */
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .sidebar-nav-item {
    display: flex;
    align-items: center;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s;
    font-weight: bold;
  }
  
  .sidebar-nav-item:hover {
    background: #736eff;
    color: whitesmoke;
  }
  
  .sidebar-nav-item i {
    margin-right: 10px;
  }
  
  .sidebar.collapsed .sidebar-nav-item .sidebar-nav-text {
    display: none;
  }
  
  .profile-card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    height: 70px;
    width: 100%;
    border-radius: 5px;
    transition: opacity 0.1s;
  }
  
  .sidebar.collapsed .profile-card {
    opacity: 0;
  }
  
  .profile-card-data {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .profile-pic {
    margin-left: 5px;
  }
  
  .sidebar-nav-item.lo {
    margin-top: 420px;
  }
  
  .content {
    margin-left: 250px; /* Adjust according to sidebar width */
    padding: 0px;
    transition: margin-left 0.3s;
  }
  
  .sidebar.collapsed ~ .content {
    margin-left: 60px; /* Adjust according to collapsed sidebar width */
  }
  